@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC:ital@1&family=Satisfy&display=swap');

body,html{
    font-family: 'Playfair Display SC', serif;
    margin: 0;
    padding: 0;
}

/* Titre du site */
.navbar .titre-nav{
    font-size: 1.7rem;
    margin-left: 45px;
}
.navbar span{
    color: indigo;
    font-size: 1.9rem;
}
/* Titre du site */

/* Header */
.nav-content{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* height: 200px; */
}

.navbar{
    width: 100%;
    background: url(./img/computer-768608_1920.jpg) center center;
    background-size: cover;
    height: 400px;
   
}
/* Header */

/* Navbar */
.item-nav {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.item-nav li{
    margin-left: 25px;
}

.item-nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.header-mot{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 75px;
    text-transform: uppercase;
}
/* Section 1 */

.sect1{
    height: 300px;
    width: 100%;
    background-color: tomato;
    margin-top: 0;
}
.sect1 h1{
    text-align: center;
    font-size: 1.4rem;
    padding-top: 10px;
}
.sect1 p {
    overflow: hidden;
    margin: 0 5%;
}
.sect2{
    display: flex;
    justify-content: space-around;
}
.sect2 .part-gauche{
    width: 75%;
    margin-top: 15px;
    height: 500px;
    border: 2px solid black;
    border-color: brown;
}
.sect2 .part-droite{
    width: 20%;
    height: 150px;
    margin-top: 15px;
    border: 2px solid black;
    border-color: rgb(32, 63, 54);
}
/* Footer */

footer{
    background-color: rgb(82, 78, 78);
}
footer h4{
    text-align: center;
    font-size: 1rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.footer ul li{
    list-style: none;
}
.footer i{
    font-size: 1.5rem;
    margin-left: 5px;
    cursor: pointer;
}
